body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

.center {
	width: 75%;
	margin: 0px auto;
}

.clearfix {
	clear: both;
	float: none;
}

#content {
	width: 70%;
	float: left;
	min-height: 650px;
	margin-right: 25px;
}

#sidebar {
	width: 25%;
	float: left;
}

.sidebarItem {
	background: #f7f7f7;
	padding: 20px;
	margin-top: 30px;
}

.sidebarItem h3 {
	text-transform: uppercase;
	font-size: 17px;
	margin: 0px;
	border-bottom: 3px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sidebarItem .btn {
	margin: 0px auto;
	margin-top: 10px;
}

.btn {
	display: block;
	max-width: 80%;
	background: black;
	color: white;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	transition: 300ms all;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

.btnSuccess {
	background: #179613;
}

.btnSuccess:hover {
	background: black;
}

.articleItem {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: left;
}

.articleItem .imageWrap {
	width: 130px;
	height: 130px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	border: 1px solid #ccc;
}

.articleItem .imageWrap img {
	height: 100%;
	text-align: center;
}

.articleItem h2 {
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom: 7px;
}

.articleItem .date {
	display: block;
	width: 100%;
	color: #7a7a7a;
}

.articleItem a {
	display: block;
	color: #444;
	text-decoration: none;
	margin-top: 10px;
	transition: 300ms all;
}

.articleItem a:hover {
	text-decoration: underline;
}

.subHeader {
	font-size: 38px;
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.articleDetail .imageWrap {
	float: none;
	width: 100%;
	height: 300px;
}

.articleDetail .imageWrap img {
	width: 100%;
	height: auto;
	margin: auto;
	object-fit: contain;
	transform: translate(0, -15%);
}

.articleDetail .subHeader {
	margin-bottom: 0px;
	margin-top: 15px;
	border: none;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 419px) {
	#content,
	#sidebar {
		float: none;
		margin: 0px auto;
		width: 90%;
		min-height: auto;
	}

	.articleDetail .imageWrap {
		height: 150px;
	}

	.articleDetail .imageWrap img {
		transform: none;
	}

	.center {
		width: 100%;
	}
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
	#content,
	#sidebar {
		float: none;
		margin: 0px auto;
		width: 90%;
		min-height: auto;
	}

	.articleDetail .imageWrap {
		height: 250px;
	}

	.articleDetail .imageWrap img {
		transform: translate(0, -5%);
	}
	.center {
		width: 100%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.center {
		width: 95%;
	}

	.articleDetail .imageWrap {
		height: 300px;
	}

	.articleDetail .imageWrap img {
		transform: translate(0, -10%);
	}
}

@media only screen and (min-width: 1025px) {
}
